---
layout: layouts/home.njk
eleventyNavigation:
  key: posts
  order: 1
---

<h1>Derniers posts</h1>

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
